.kanji-card-box {
  @apply flex;
  @apply justify-evenly;
  margin-top: 1%;
}

.kanji-card-box section {
  @apply flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  color: #f01a25;
  font-size: 3em;
  font-family: "Noto Sans JP";
  font-weight: bold;
}

.no-border-card-box {
  margin-top: 5%;
}

.no-border-card-box section {
  flex-direction: column;
  align-items: center;
  padding: 2%;
  color: #f01a25;
  font-size: 3em;
  font-family: "Noto Sans JP";
  font-weight: bold;
}
.selected {
  background-color: #eb4034;
  color: white !important; 
}
.no-border-card-box:hover{
  cursor: pointer;
}

#n1:hover,#n2:hover,#n3:hover,#n4:hover,#n5:hover{
  background-color: #eb4034;
  color: white;
}

.kanji-noken-section{
  font-size: 5em;
  text-align: center;
  margin-right: 6%;
  margin-top: 2%;
}

.kanji-noken-header{
  font-size: 10em;

}
.kanji-noken-link{
  width: 50%;
  margin: 15% 10%;
}
.kanji-noken-anchor {
  position: relative;
  margin-left: 10%;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 2em;
}

.kanji-noken-anchor::before,
.kanji-noken-anchor::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease-in-out;
}

.kanji-noken-anchor::before {
  left: 50%;
  transform: translateX(-50%);
}

.kanji-noken-anchor::after {
  right: 50%;
  transform: translateX(50%);
}

.kanji-noken-anchor:hover::before,
.kanji-noken-anchor:hover::after {
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

/* Definir las keyframes para las animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: auto;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    height: auto;
  }
  to {
    opacity: 0;
    height: 0;
  }
}