.mySwiper2{
    width: auto;
    margin: 1% 2%;
  }
  
  :root {
    --swiper-navigation-size: 88px;
  }
  
  
  
  :root{--swiper-theme-color: #f73636}

  .mySwiper2 .swiper-button-next, .swiper-button-prev{
    margin: 0 0;
    --swiper-theme-color:  #f73636;
  }
  .mySwiper2 .swiper-button-prev{
    margin: 0 0;
    --swiper-theme-color:  #f73636;
  }

  .swiper-button-next, .swiper-button-prev{
    --swiper-theme-color: white;
  }
  
  .swiper-container .mySwiper2 {
    height: 300px;
    width: 100%;
  }

  .small-text{
    font-size: 80%;
    color: #f73636;
    font-weight: bold;
  }

  #kana-card-box{
    padding: 0.5% 3%;
  }