.vocabulary-div{
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 8%;
    font-size: 3em;
    transition: 0.3s ease-in-out;
}

.vocabulary-div h1{
    color: black;
    padding-top: 10%;
}

.vocabulary-img{
    width: 75%;
    height: auto;
}

.vocabulary-div:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.description-box-title{
    font-size: 2em;
    color: blue;
    text-align: center;
}